<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/normalize.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/datepicker.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/main.css" type="text/css" rel="stylesheet" media="all">
</head>
<body>
{{{body}}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/jquery-ui-1.10.4.datepicker.js"></script>
<script src="js/shared.js"></script>
<script src="js/NotesStorage.js"></script>
<script src="js/handlebars-v4.1.2.js"></script>
<script src="js/controller.js"></script>
<script src="js/jquery-custom.js"></script>
<script>
    // to do
    /*
        - Priorität 🗸
        - Hinweis wenn due date überschritten
        - style toggler 🗸
        - checkbox & check function 🗸
        - sort function
        - default sortierung
        - hide/show closed tasks 🗸
        - clear localstorage function 🗸
        - cancel button  / reset form
        - store sort in storage or cookie
        - use grid css
        - required fields
        - submit event einsetzen
        - Modularisierung (Controller/View)
        - in git einchecken
    */
</script>
</body>
</html>